*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.feature{
    background-color: #393853;
    /*background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3))*/;
    padding-top: 50px;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    padding-top: 35px;
}

h2{
    font-family: Spartan,sans-serif;
    text-align: center;
    padding-bottom: 50px;
    font-size: 38pt; color: #fff;
}

h4{
    padding-bottom: 15px;
    font-size: 20px;
    font-family: Spartan,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

p{
    color: #fff;
    font-size:18px;
    text-align: center;
    line-height: 28px;
    opacity: .8;
    padding-top: 70px;
    padding-bottom:55px;
}

a{
    color: #fff;
}

strong{
    color: #ff6b6b;
}

section{
    transition: all 0.5s;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 5%;
    display: flex;
    align-items: center;
    justify-content: safe-between;
}

nav .logo {
    width: 80px;
}

nav ul {
    align-items: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
}

nav ul li.button {
    background-color: rgba(0, 136, 169, 1);
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

img.menu {
    width: 45%;
    height: auto;
    left: 0px;
    right: 0px;
    padding-bottom: 50px;
  }
  
img.review {
    width: 45%;
    height: auto;
    left: 0px;
    right: 0px;
    padding-top: 20px;
}

img.hair{
    
    border-color: #fff;
    width: 35%;
    height: auto;
    border-width: 2px;
}

.booking-btn input{
    height: 50px;
    width: 250px;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
    border-radius: 18px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

  
.feature a {
    text-decoration: none;
}

.content {
    text-align: center;
}

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content h1 {
    font-size: 150px;
    color:#fff;
    font-weight: 600;
    transition: all 0.5s;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.5s;
}

.content a:hover{
    background-color: #fff;
    color: black;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

nav ul li:hover{
    
    background-color: #fff;
    transition: 1s;
}

nav ul li a:hover{
    color: black;
    box-shadow: 0 -1px 0px #fff inset, 500px 0 0 rgba(255, 255, 255,0.01) inset;
    padding-bottom: 25px;
    transition: 0.3s;
}

//content part
.intro{
    width:auto;
    height: auto;
    margin: auto;
    padding: 10px;
}

//hamburger menu for mobiles
.hamburger{
    cursor: pointer;
    background: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    float: right;
}

.bar{
    visibility: hidden;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white; 
}

@media(max-width:768px){

    img.menu {
        width: 100%;
        height: auto;
        left: 0px;
        right: 0px;
        padding-bottom: 50px;
      }
      
    img.review {
        width: 100%;
        height: auto;
        left: 0px;
        right: 0px;
        padding-top: 20px;
    }

    img.hair{
    
        border: 3px solid #fff;
        width: 50%;
        height: auto;
    }


    nav.navbar{
        float: center;
        padding-top: 0;
        padding-bottom: 70px;
    }

    .content {
        width: 100%;
    }

    .empty{
        width: 70%;
    }
    .bar{
        visibility: visible;
    }
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;

    }
    
    .nav-menu.active{
        left: 0;
    }

    iframe {
        width: 100%;
    }

    .back-video{
        width:100%;
        height: auto;
    }

    .content h1 {
        font-size: 80px;
    }

}





@media (max-aspect-ratio: 16/9){
    .back-video{
        width:auto;
        height: 100%;
    }
}